click
pydantic
mysql-connector-python
termcolor
prompt_toolkit
requests
brotli
flask
flask-socketio
eventlet
redis
python-dotenv
slack_sdk
gitignore-parser
python-ripgrep
httpx
unidiff
protego
trafilatura
pywinpty; sys_platform == "win32"
ptyprocess; sys_platform != "win32"
pyte
pytest-timeout
tqdm
numpy
beautifulsoup4
lxml
json5
psutil

# Dev dependencies
black
ruff